%h1 Sign Up
- if @student.errors.any?
  %ul
  - @student.errors.full_messages.each do |msg|
    %li= msg
= form_for @student do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  = f.submit 'Sign Up'
