.homecourse
  %h1= @student.name
  %h2 Courses
  %ul
  - @sections.each do |section|
    %li= (link_to section.course.code, course_path(section.course),  :class=>"courselist btn") + " : " + (link_to section.number,course_section_path(section.course, section),:class=>"courselist btn")
  %h2 Requests Sent
  %ul
    - @requests_made.each do |request_made|
      - section = Section.find(request_made.section_id)
      %li
        = Student.find(request_made.to_id).name
        for
        = (link_to section.number, course_section_path(section.course, section), :class=>"courselist btn")+ " : " + (link_to section.course.code, course_path(section.course),  :class=>"courselist btn")
  %h2 Requests Received
  %ul
    - @requests_received.each do |request_received|
      - section = Section.find(request_received.section_id)
      - student = Student.find(request_received.from_id)
      %li
        = student.name
        for 
        = (link_to section.number, course_section_path(section.course, section), :class=>"courselist btn")+" : "+ (link_to section.course.code, course_path(section.course), :class=>"courselist btn")
        = link_to "Accept Request", accept_request_path(:request_received => request_received.id), :class=>"addcourse btn btn-success"
  %h2 Partnerships
  - @partnerships.each do |partnership|
    - id = partnership.from_id == current_student.id ? partnership.to_id : partnership.from_id
    = Student.find(id).name
    for 
    = (link_to partnership.section.course.code, course_path(partnership.section.course),:class=>"courselist btn")+" : "+(link_to partnership.section.number, course_section_path(partnership.section.course, partnership.section),:class=>"courselist btn")