.courses
  %h1= "Students in #{@section.course.code} section #{@section.number}"
  %ul
    - @students.each do |student|
      %li
        = student.name
        - if student != current_student
          = link_to "Send Request", make_request_student_path(student, :section => @section.id)
