.courses
  %h1 New Course
  %br
  - if @course.errors.any?
    %ul{:class=>"error"} 
      - @course.errors.full_messages.each do |msg|
        %li= msg
  = form_for @course do |f|
    = f.label :code, "Course Code"
    = f.text_field :code
    %br
    = f.submit 'Create Course',:class=>"btn btn-primary"
