.courses
  %h1= @course.code
  %h2 Sections
  %ul
    - @sections.each do |section|
      - unless current_student.sections.include?(section)
        %li{:class=>"courselist sectionlist btn disabled" }= section.number
        = link_to "Join", join_course_section_path(@course, section), :class=>"courselist sectionlist secselect btn btn-inverse"
        %br
      - else
        %li= link_to section.number, course_section_path(@course, section),:class=>"courselist sectionlist btn btn-success"
        = link_to "Leave", leave_course_section_path(@course, section),:class=>"courselist sectionlist secselect btn btn-inverse"
        %br
  %br
  = link_to "Add a section", new_course_section_path(@course),:class=>"addcourse btn btn-primary"