!!!
%html
  %head
    %title= Partnermine
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .navbar
        .navbar-inner
          %ul{:class=>"nav"}
            %li{:class=>"homelink"}
              %a= link_to 'Home', root_path
            %li
              %a= link_to 'Courses',courses_path
            %li{:class=>"signinlink"}
              - if signed_in?
                %a= link_to 'Sign Out', signout_path
              - else
                %a= link_to 'Sign In', signin_path
      .content
        - if flash.any?
          .row
            .span12
              - flash.each do |key, value|
                %div{ :class => "alert alert-#{key}" }= value
        .row
          .span12
            = yield

